<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a {{ site.data.backgroud.current }} at
      <a class="underline-link" href="{{site.data.backgroud.currentAtLink}}"
        target="_blank">{{ site.data.backgroud.currentAt }}</a> familiar with a wide range of programming utilities and
      languages. Knowledgeable backend and frontend development requirements. Excellent reputation for resolving
      problems, improving customer satisfaction, and driving overall operational improvements. Able to handle any part
      of the process with ease. Collaborative team player with excellent technical abilities offering 4 years of related
      experience.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>