<header class="site-header" role="banner">

  <div class="header-wrapper">
    <!-- <a  >Logo</a> -->
    <a class="site-title logo" rel="Saif" href="">
      <span class="grey-color"> &lt;</span>
      <span class="logo-name">Saif</span>
      <span class="grey-color">/&gt;</span>
    </a>
    <div class="switch-wrapper">
      <div class="sun"></div>
      <div class="toggle-wrapper">
        <input id="switch" type="checkbox" />
        <label for="switch" id="toggle">Toggle</label>
      </div>
      <div class="moon"></div>
    </div>
  </div>

</header>